<div class="row">
  <div class="col-md-10">
    <div class="panel panel-default">
      <div class="panel-heading">Job Spec</div>
      <div class="panel-body">

        <%= simple_form_for @job_spec,
            html: { class: 'form-horizontal' },
            wrapper: :horizontal_form,
            wrapper_mappings: {
              boolean: :horizontal_boolean
            } do |f| %>

          <%= f.input :name %>
          <%= f.input :enabled %>
          <%= f.association :client, collection: Client.order(:name), include_blank: 'None' %>
          <%= f.association :job_schedule_group %>

          <%= f.button :submit unless disabled%>
        <% end %>

      </div>
    </div>
  </div>
</div>
